# Copy this file to .env and fill in your own values

# Comic Vine API
COMICVINE_API_KEY=your_comicvine_api_key_here

# JWT
JWT_SECRET=your_jwt_secret_here

# MongoDB
MONGO_CONNECTION_STRING=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net
MONGODB_DATABASE=longbox

# Sentry
SENTRY_AUTH_TOKEN=your_sentry_auth_token_here
SENTRY_DSN=your_sentry_dsn_herey_here